nav {
  width: 100%;
  background-color: rgb(182, 182, 154);
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0;
}
nav ul {
  list-style-type: none;
  align-items: center;
  display: flex;
}

nav ul li {
  margin: 10px;
}
